.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
}
.sidebar__header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid lightgray;
}
.sidebar__headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vh;
}
.sidebar__headerRight > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 24px !important;
}
.sidebar__search {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 39px;
  padding: 10px;
}
.sidebar__searchContainer {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 30px;
  border-radius: 20px;
}
.sidebar__searchContainer > input {
  border: none;
  margin-left: 10px;
  outline-width: 0;
}
.sidebar__chats {
  flex: 1;
  background-color: white;
  overflow: scroll;
}
.sidebar__bottom {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 20px;
  border-top: solid rgba(190, 190, 190, 0.1);
}
.sidebar__bottom__avatar:hover {
  cursor: pointer;
  opacity: 0.5;
}
.sidebar__bottom > button:hover {
  color: #0a8d48;
}
